doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    block content
    .test
      .myCircle
        .cloud1Box
          .cloud1B
          .cloud1A
          .cloud1C
        .cloud2Box
          .cloud2C
          .cloud2A
          .cloud2B